.footer {
    text-align: center;
    margin: auto;
}

a {
    color:rgb(207, 220, 233) !important;
}

.contactLink {
    color: rgb(109, 107, 107) !important;
}

.vertical {
    border-left: 6px dotted gray;
    height: 2000px;
    position:absolute;
    left: 30%;
    
}
.vertical2 {
    border-left: 6px dotted gray;
    height: 2000px;
    position:absolute;
    right: 30%;
    
}
.vertical3 {
    border-left: 6px dotted gray;
    height: 1100px;
    position:absolute;
    right: 25%;
    
}
.vertical4 {
    border-left: 6px dotted gray;
    height: 1100px;
    position:absolute;
    left: 18%;
    
    
}
.nav {
    padding: 1%;
    font-size: 1.25em;
}
.nav-item:hover {
font-size:1.50em;
text-shadow: 3px 1px 8px rgb(123, 187, 123);
}
.floatright{
    float:right;
}
.headerText {
    display: inline-block;
    width: 85%;
    padding-left:2%;
    font-size: 1.5em;
    margin-top:2%;
}

.moreLeft {
    padding-left:2%;
   
}

.hello{
    padding-top:4%;
    font-size: 1.8em; left: 20%;
     
}

.profile {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    border: thin solid gray;
    margin-top: 2%;
    border-style:inset;
    box-shadow: 10px 10px 5px #ccc;
}
.profile-contact{
  border: thin solid gray;
  box-shadow: 10px 10px 5px rgb(22, 22, 22);
}

.hero {
    width: 100%;
    height: 3%;
}

.Wrapper {
    margin:2.5%; left: 20%;
    padding: 1%;
    width:15%;
    float:left;
    border: thin solid gray;

  
    
}
.downloadResume{

margin:3px;

 }

.pt{
    margin-top:30px;
}


  .btn {
      margin: 1%;
  }

  .bold {
      font-weight: 600;
  }

  .contactImg {
      width:5%;
      margin: 1%;
      
  }
  .contactImg2 {
    width:10%;
  
    
}
.contact-me{
  margin-left:20px;

}

/* //////////////////////////////////// MEDIA QUIERIES//////////////////////////////////////////////////////// */
  /* resume */

  @media only screen and (min-width : 1800px) and (max-width : 2000px) {
    .card-w {
  margin-left:10px;
      
      
   
        
        
    }
  } 
  @media screen and (min-width : 300px) and (max-width : 3000px) {
    .row1 {
        float:left;
      margin-right:40rem;
      margin-left:2px;
      
      
   
        
        
    }
  }  
 
  @media screen and (min-width : 300px) and (max-width : 1000px) {
    .row1 img{
    margin-left:35px;
      
   
        
        
    }
  }  
  @media screen and (min-width : 300px) and (max-width : 1000px) {
    .row1 Button{
    margin-left:120px;
      
   
        
        
    }
  } 
  @media screen and (min-width : 300px) and (max-width : 1550px) {
    .list-padding {
        margin-right:7px;
     
      
   
        
        
    }
  }
  @media screen and (min-width : 300px) and (max-width : 1000px) {
    .resumebtn {
        margin-right:5rem;
     
      
   
        
        
    }
  }
  @media screen and (min-width : 200px) and (max-width : 1400px) {
    .vertical4 {
      right: -8%;
      height:1px;
      color:white;
        
        
    }
  }  
 
  @media screen and (min-width : 200px) and (max-width : 1405px) {
    .vertical3 {
      right: -8%;
      height:1px;
      color:white;
  
     
        
        
    }
  }

  @media only screen and (min-width : 1406px)and (max-width: 1800px)  {
    .vertical3 {
      right: 18%;

    }
  }
  @media only screen and (min-width : 1792px)and (max-width:1808px)  {
    .vertical3 {
      right: 45%;

    }
  }
  @media only screen and (min-width : 1740px)and (max-width: 1808px)  {
    .vertical3 {
      right: 20%;

    }
  }
  @media only screen and (min-width : 2030px)and (max-width: 2285px)  {
    .vertical3 {
      right: 38%;

    }
  }
  @media only screen and (min-width : 2280px)and (max-width: 2265px)  {
    .vertical3 {
      right:55%;

    }
  }
  @media only screen and (min-width : 2294px)and (max-width: 4000px)  {
    .vertical3 {
      color:white;
      height:1px;

    }
  }
 /* end resume */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
 /* portfolio */

  @media screen and (min-width : 200px) and (max-width : 1200px) {
    .vertical {
        left: -4%;
        height:1px;
        height:1px;
        color:white;
        
        
    }
  }  
 
  @media screen and (min-width : 200px) and (max-width : 1200px) {
    .vertical2 {
        right: -8%;
        height:1px;
        color:white;
   
        
        
    }
  } 
 
/* end porfolio */
 /* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* homepage */
  @media screen and (min-width : 200px) and (max-width : 500px) {
    .profile {
       
       width:50%;
       margin-left:25%;
       margin-bottom:7px;
       border-radius: 0px 0px 0px 100px;
       border-style:inset;
       box-shadow: 10px 10px 5px #ccc;
      
      
   
        
        
    }
  }
  @media screen and (min-width : 200px) and (max-width : 500px) {
    .bio {
       
       width:100%;
       text-align: left;
       margin-left:20px;
       margin-right:15px;
      
   
        
        
    }
  }

  @media only screen and (max-width: 500px)  {
    .hello {
       
       width:100%;
       text-align: left;
       margin-left:20px;
      
      
   
        
        
    }
  }

  @media only screen and (max-width: 500px) {
    .bio {
       
     font-size: 20px;
     
      
   
        
        
    }
  }
  @media screen and (min-width : 500px) and (max-width : 1500px)   {
    .hello {
       padding-top:2px;
       
      
   
        
        
    }
  }
  /* end homepage */
 
  /* contact start */
  @media screen and (min-width : 300px) and (max-width : 800px)   {
    .contact-head{
       margin-left:2rem;
       
      
   
        
        
    }
  }
  @media screen and (min-width : 200px) and (max-width : 900px)   {
    .contact-me{
       margin-left:2rem;
       
      
   
        
        
    }
  }
  @media screen and (min-width : 200px) and (max-width : 800px)   {
    .form{
       margin-left:10rem;
       
      
   
        
        
    }
  }
  @media screen and (min-width : 300px) and (max-width : 802px)   {
    .form-box {
      width:20rem;
       
      
   
        
        
    }
  }
