.down-arrow {
  color:white;
  position: absolute;
  top: calc(50vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 38px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 21px;
  height: 25px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.work{
  width:400px;
}
.what-i-do{
  font-family:Courier New, monospace;
  font-weight: 600;
  margin-top:10px;
 
}
.bioStyle{
  font-family:Courier New, monospace;
}

.footer {
    text-align: center;
    font-size:20px;
    border-top:inset 2px gray;
    font-family:Courier New, monospace;
    max-width: 100% !important;
}
.bg-dark {
  border-top:inset 2px gray;
  background-color: black;
}
a {
    color:rgb(207, 220, 233) !important;
}

.contactLink {
    color: rgb(109, 107, 107) !important;
 
}
.messagebtn{
  font-family:Courier New, monospace;
  border: 2px outset rgb(85, 84, 84);
  
 
}

.messageText{
  font-weight: lighter;
  font-size:20px;
}

.nav {
   
    font-size: 1.50em;
    border-top:inset 2px gray;
    border-bottom:inset 2px gray;
    border-left:#212529;
    font-family:Courier New, monospace;
    width: 100% !important;
    overflow-x: hidden;
    
   
}
.nav-item:hover {
font-size:1.50em;
text-shadow: 3px 1px 8px rgb(123, 187, 123);
}
.floatright{
    float:right;
}
.headerText {
    display: inline-block;
    width: 85%;
    padding-left:2%;
    font-size: 1.5em;
    margin-top:2%;
   
}

.moreLeft {
    padding-left:2%;
   
}

.hello{
    width:100%;
    padding-top:3%;
    font-size: 2.5em; left: 20%;
    text-shadow: 4px 4px 8px rgb(116, 115, 115);
    font-family:Courier New, monospace;
  
}

.profile {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    border: thin solid gray;
    margin-top: 2%;
    border-style:inset;
    box-shadow: 10px 10px 5px #ccc;
}
.profile-contact{
  border: thin solid gray;
  box-shadow: 10px 10px 5px rgb(22, 22, 22);
  font-family:Courier New, monospace;
  
}

.hero {
    width: 100% !important;
    height: 3%;
    overflow-x: hidden;
}

.Wrapper {
    margin:2.5%; left: 20%;
    padding: 1%;
    width:15%;
    float:left;
    border: thin solid gray;

  
    
}
.resumebtn{
  font-family:Courier New, monospace;
  font-size: 30px;
  border: 2px outset rgb(85, 84, 84);
  margin-left:180px;
 color:white;
 
}


.resumeLink{
  font-weight: lighter;
  font-size:20px;
  padding-left: 5px;
  padding-right:5px;
  

  
}
.resumeLink h4:hover{
  color:black;
}

.pt{
    margin-top:30px;
}


  .btn {
      margin: 1%;
  }


  .contactImg {
      width:5%;
      margin: 1%;
      
  }
  .contactImg2 {
    width:10%;
  }
 

.form-box{
  font-family:Courier New, monospace;

}
.contact{
  margin-left:8px;
  font-weight: lighter;
  font-family:'Courier New', monospace;
  font-size:40px;
  
}
.gradient{
  font-family:Courier New, monospace;
 
}
.resume-list{
  font-family:Courier New, monospace;
  font-weight: bold;
  padding-left:5rem;
  margin-left:8rem;
}
.card-w {
  width:40rem;
  margin-left:40rem;
  overflow-x: hidden;
}
.row2{
  grid-template-columns: repeat(3, 1fr);
  


}
.title{
  font-size:30px;
  text-shadow: 2px 2px 4px rgb(192, 191, 191);
  font-family:Courier New, monospace;
  font-weight:600;
  

  }
.card-marg3{
    margin-left:10px;
    margin-right:5px;
  }
.card-marg2{
  margin-left:20px;
  margin-right:1px;
}
.card-marg1{
  margin-left:17px;
  margin-right:2px;
}
/* //////////////////////////////////// MEDIA QUIERIES//////////////////////////////////////////////////////// */
  /* resume */

 
  @media only screen and (min-width : 300px) and (max-width : 420px) {
    .card-w {
  width:21rem;
  overflow-x:hidden;  
  margin-left:38rem;
  margin-right:-2rem;
   
      
    }
  } 
  @media only screen and (min-width : 300px) and (max-width : 430px) {
    .resume-list {
    width:20rem;
    padding-left:0px;
    padding-right:0rem;
    margin-left:5rem;

     
    }
  } 

@media only screen and (min-width : 300px) and (max-width : 430px) {
    .gradient {
margin-left:0rem;

    }
  } 
  /* resume end */
  @media only screen and (min-width : 300px) and (max-width : 340px) {
    .card-marg3{

 margin-right:2rem;
 margin-top:-2rem;
 margin-bottom:-1rem;
 width:300px;

    }
  } 
  @media only screen and (min-width : 300px) and (max-width : 340px) {
    .card-marg2{
  
     
      margin-right:2rem;
      margin-top:-1rem;
      margin-bottom: 1rem;
      width:300px;
        
    }
  } 
  
  @media only screen and (min-width : 300px) and (max-width : 340px) {
    .card-marg1{
   
    margin-right:1rem;  
   
    margin-bottom: 1rem;
    width:300px;
    }
  } 
  @media only screen and (min-width : 341px) and (max-width : 411px) {
    .card-marg3{
 margin-left:1rem;
 margin-right:1rem;
 margin-top:-2rem;
 margin-bottom:1rem;
 width:350px;

    }
  } 
  @media only screen and (min-width : 341px) and (max-width : 411px) {
    .card-marg2{
  
      margin-left:1rem;
      margin-right:1rem;
      margin-top:-2rem;
      margin-bottom: 1rem;
      width:350px;
        
    }
  } 
  
  @media only screen and (min-width : 341px) and (max-width : 411px) {
    .card-marg1{
    margin-left:1rem; 
    margin-right:1rem;  
    margin-top:-2.1rem;
    margin-bottom: 1rem;
    width:350px;
    }
  } 

  @media only screen and (min-width : 412px) and (max-width : 430px) {
    .card-marg3{
 margin-left:2rem;
 margin-right:1rem;
 margin-top:-2rem;
 margin-bottom:-1rem;
 width:350px;

    }
  } 
  @media only screen and (min-width : 412px) and (max-width : 430px) {
    .card-marg2{
  
      margin-left:2rem;
      margin-right:1rem;
      margin-top:-1rem;
      margin-bottom: 2rem;
      width:350px;
        
    }
  } 
  
  @media only screen and (min-width : 412px) and (max-width : 430px) {
    .card-marg1{
    margin-left:2rem; 
    margin-right:1rem;  
    margin-top:1rem;
    margin-bottom: 1rem;
    width:350px;
    }
  } 

  @media only screen and (min-width : 300px) and (max-width : 384px) {
    .card3{
    
    margin-bottom: 3px;
    }
  }
  @media only screen and (min-width : 300px) and (max-width : 384px) {
    .card6{
    margin-bottom: 1rem;
    
    
    }
  } 
  @media only screen and (min-width : 300px) and (max-width : 384px) {
    .card2{
    margin-top: 0.5rem;
    margin-bottom:-1rem;
    }
  } 
  @media only screen and (min-width : 385px) and (max-width : 1274px) {
    .card3{
   margin-top:-1;
    margin-bottom: -1rem;
    }
  }
 
  @media only screen and (min-width : 385px) and (max-width : 1274px) {
    .card2{
    margin-bottom: -1rem;
    margin-top:1rem;
    }
  } 
  @media only screen and (min-width : 385px) and (max-width : 1274px) {
    .card6{
    margin-bottom: 5px;
    
    }
  }

  @media screen and (min-width : 300px) and (max-width : 3000px) {
    .row1 {
        float:left;
      margin-right:40rem;
      margin-left:2px;
      
      }
  }  
  @media screen and (min-width : 300px) and (max-width : 1000px) {
    .row1 img{
    margin-left:35px;
      
    }
  }  
  @media screen and (min-width : 300px) and (max-width : 1000px) {
    .row1 Button{
    margin-left:120px;
      
    }
  } 
  @media screen and (min-width : 300px) and (max-width : 1550px) {
    .list-padding {
        margin-right:7px;
     
    }
  }
  @media screen and (min-width : 350px) and (max-width : 200px) {
    .list-padding {
        margin-right:1px;
     
     }
  }
  @media screen and (min-width : 431px) and (max-width : 1009px) {
    .resumebtn {
     margin-left:180px !important;
     
    }
  }
  @media screen and (min-width : 200px) and (max-width : 430px) {
    .resumebtn {
     margin-left:28px !important;
  
      }
  }
  /* start projects */

  @media only screen and (min-width : 200px) and (max-width : 385px) {
  .title{
    font-size:20px;
    font-weight: 600;
  
   }
  } 

  @media only screen and (min-width : 200px) and (max-width : 385px) {
    .work{
     width:300px;
     margin-right:2px;
     margin-top:1rem;
    
      }
    } 
  @media screen and (min-width : 200px) and (max-width : 1274px) {
  .row2{
    grid-template-columns: repeat(1, 1fr);
    margin:0;

  }
}

/* end projects */
 /* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* homepage */
 
@media screen and (min-width : 200px) and (max-width : 1200px) {
    .profile {
       
       width:50%;
       margin-left:25%;
       margin-bottom:7px;
       border-style:inset;
       box-shadow: 15px 15px 5px #ccc;
       border-radius: 3px;
       overflow-x: hidden;
    }
  }
  @media screen and (min-width : 1201px) and (max-width : 1522px)   {
    .profile {
   margin-top:3rem;
      
    }
  }
 
  @media screen and (min-width : 100px) and (max-width: 286px)  {
    .hello {
      
       font-size:20px;
       margin-left:2.5rem;
    
     }
  }
  @media screen and (min-width : 287px) and (max-width: 320px)  {
    .hello {
      
     font-size:30px;
     padding-bottom:5px;
     margin-left:2rem;
     font-weight: 500;
    
     }
  }
  @media screen and (min-width : 321px) and (max-width: 405px)  {
    .hello {
     font-size:30px;
     padding-bottom:5px;
     margin-left:58px;
     font-weight: 500;
     overflow-x: hidden;
     }
  }

  @media screen and (min-width : 406px) and (max-width: 487px)  {
    .hello {
      font-size:30px;
       padding-bottom:5px;
       margin-left:5rem;
       font-weight: 500;
     }
  }
  @media screen and (min-width : 488px) and (max-width: 520px)  {
    .hello {
      font-size:30px;
       padding-bottom:5px;
       margin-left:6rem;
       font-weight: 500;
     }
  }
  @media screen and (min-width : 521px) and (max-width: 574px)  {
    .hello {
      
     font-size:30px;
      padding-bottom:5px;
      font-weight: 500;
      margin-left:9rem;
    
     }
  }
  @media screen and (min-width : 575px) and (max-width: 620px)  {
    .hello {
      
      font-size:30px;
      padding-bottom:5px;
      font-weight: 500;
      margin-left:10rem;
    
     }
  }
  @media screen and (min-width : 621px) and (max-width: 696px)  {
    .hello {
      
      font-size:30px;
      padding-bottom:5px;
      font-weight: 500;
      margin-left:12rem;
    
     }
  }
  @media screen and (min-width : 697px) and (max-width: 772px)  {
    .hello {
      
      font-size:40px;
      padding-bottom:5px;
      font-weight: 500;
      margin-left:12rem;
    
     }
  }
  @media screen and (min-width : 773px) and (max-width: 810px)  {
    .hello {
      font-size:40px;
      padding-bottom:5px;
      font-weight: 500;
      margin-left:13rem;
    
     }
  }
  @media screen and (min-width : 811px) and (max-width: 900px)  {
    .hello {
    padding-right:80px;
    padding-bottom:5px;
    margin-left:10rem;
    overflow-x: hidden; 
    }
  }
  @media screen and (min-width : 901px) and (max-width: 994px)  {
    .hello {
    padding-right:80px;
    padding-bottom:5px;
    margin-left:13rem;
    overflow-x: hidden;
    }
  }     
  @media screen and (min-width : 995px) and (max-width: 1010px)  {
    .hello {
    padding-right:80px;
    padding-bottom:5px;
    margin-left:15rem;
    overflow-x: hidden; 
    }
  }     
  @media screen and (min-width : 1011px) and (max-width: 1200px)  {
    .hello {
    padding-right:80px;
    padding-bottom:5px;
    margin-left:18rem;
    overflow-x: hidden;
      
    }
  }
  @media screen and (min-width : 1201px) and (max-width: 1500px)  {
    .hello {
    padding-top:1rem;
  
      
    }
  }
@media screen and (min-width : 200px) and (max-width : 350px) {
  .what-i-do {
     
     text-align: center;
     margin-left:20px;
     margin-right:15px;
    
   }
}

@media screen and (min-width : 351px) and (max-width : 500px) {
  .what-i-do {
     
   
     text-align: left;
     margin-left:50px;
     margin-right:8px;
     text-align: center;
  }
}

  @media only screen and (max-width: 500px) {
    .what-i-do {
       
     font-size: 20px;
     
      }
  }
  @media screen and (min-width : 500px) and (max-width : 810px)   {
    .what-i-do {
       
       margin-left:30px;
       margin-right:-60px;
      margin-bottom:15px;
      font-weight: 700;
      text-align: center;
      overflow-x: hidden;
    }
  }

  @media screen and (min-width : 811px) and (max-width : 1200px)   {
    .what-i-do {
      margin-left:10rem;
      margin-bottom:15px;
      font-weight: 700;
      text-align: center;
      
    }
  }
  @media screen and (min-width : 200px) and (max-width : 459px) {
    .bioStyle {
      font-size:20px;
      padding-bottom:4px;
      text-align: center;
      margin-left:3rem;
      font-weight:700;
      margin-top:1rem;
      
    }
  }
  @media screen and (min-width : 460px) and (max-width : 699px) {
    .bioStyle {
      font-size:20px;
      padding-bottom:4px;
      text-align: center;
      margin-left:4rem;
      
      
    }
  }
 
  @media screen and (min-width : 700px) and (max-width : 810px)   {
    .bioStyle {
       
      margin-left:30px;
      margin-right:-60px;
       padding-bottom:5px;
       font-weight: 700;
       text-align: center;
       overflow-x: hidden;
      
       
    }
  }
  @media screen and (min-width : 811px) and (max-width : 1200px)   {
    .bioStyle {
       
       margin-left:10rem;
      margin-bottom:15px;
      font-weight: 700;
      text-align: center;
      
    }
  }
  /* end homepage */
 
  /* contact start */
  @media screen and (min-width : 200px) and (max-width : 800px)   {
    .contact h1{
     
       font-family:Courier New, monospace;
       font-size: 5px;
      margin-right:5px;
      
    }
  }
  
  @media screen and (min-width : 200px) and (max-width : 822px)   {
    .form{
       margin-left:10rem;
       
     }
  }
  @media screen and (min-width : 300px) and (max-width : 822px)   {
    .form-box {
      width:20rem;
       
      
    }
  }
  @media screen and (min-width : 250px) and (max-width : 470px)   {
    .contact-me {
    
       margin-left:25px;
      
   
        
    }
  }
  @media screen and (min-width : 250px) and (max-width : 470px)   {
   
      .messagebtn  {
      
         margin-left:1rem;
        
     
      }
  } 
   /* end contact  */

   /* hero arrow */
  @media screen and (min-width : 200px) and (max-width : 1200px)   {
    .down-arrow {
      width: 0px;
      height: 0px;
      border: 0px transparent;
    
      
      }
  }
  @media screen and (min-width : 200px) and (max-width : 1200px)   {
  .down-arrow:after{
    width: 0px;
    height: 0px;
    border: 0px transparent;
    border-radius: 0px;
  }
}

/* footer text */
@media screen and (min-width : 359px) and (max-width : 440px)   {
  .text-muted {
    padding-right:10px;
     font-size:15px;
    
     
  }
}

@media screen and (min-width : 800px) and (max-width : 900px)   {
  .text-muted {
    padding-right:4rem;
     font-size:18px;
     overflow-x: hidden;
  
     
  }
}

